# system files
.DS_Store

# IDE junk
.vscode/

# latex
*.aux
*.log
*.out
*.toc
*.tex

# python trash
__pycache__
.pytest_cache/

# personal
_archive/

# data
data/

# temporarily
optimizing_spatial_filters_eeg.pdf
Makefile
